.home1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
}
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.quote span {
    /* position: absolute; */
    max-width: 509px;
    max-height: 325px;
    left: 76px;
    top: 187px;

    /* M3/label/large */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    /* or 112% */
    display: flex;
    align-items: center;
    letter-spacing: -0.25px;

    color: #483737;
    margin: 50px;
    /* border: 1px solid #1b1616; */
    border: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} /* Happiness is lending someone a book you absolutely adored reading . */

.quote button {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    /* position: absolute; */
    width: 199px;
    height: 81px;
    left: 203px;
    top: 533px;

    /* M3/sys/light/primary */
    background: #65558f;
    border-radius: 100px;

    /* M3/sys/light/on-primary */
    color: #ffffff;
}
